.main-header {
    width: 100vw;
    height: 75px;
    background-color:rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.header {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link-container {
    height: inherit;
    width: 45%;
    color: whitesmoke;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
    position: absolute;
    padding-right: 100px;
}

.header-logo {
    height: inherit;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

img {
    align-items: inherit;
    margin: auto;
}

.session-links{
    cursor: pointer;
}