.home-div {
    background-image: url(asset_path('static_background.png'));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
}

.greeting-div {
    display: flex;
    margin: auto;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    flex-direction: column;
}

.greeting {
    font-size: 70px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.greeting-msg {
    margin: auto;
    padding-bottom: 20px;
}

.demo-button-div {
    margin: auto;
    display: flex;
    width: 200px;
    height: 48px;
}

.demo-button {
    // display: flex;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    height: 48px;
    font-family: inherit;
    font-weight: bold;
    background-color: #FF9933;
    border-radius: 500px;
}