.main-root-section {
    right: 0;
    left: 230px;
    bottom: 90px;
    height: 100vh;
    width: 100%;
    background-color: #202020;
    // display: flex;
    // position: fixed;
    z-index: -1;
}

.main-root-header {
    height: 60px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    left: 230px;
    right: 0;
    position: fixed;
    flex-grow: 1;
    align-items: center;
    // width: 100%;
    // position: relative;
    // z-index: 1;
}

.main-root-arrows {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.main-root-arrows i {
    background-color: transparent;
    color: black;
    font-size: 2em;
}

.main-root-header button {
    margin-right: 25px;
    font-size: 14px;
    font-weight: bold;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #B3B3B3;
    cursor: pointer;
}

.main-root-header button:hover {
    color: #ffffff;
}