.main-root-section {
    right: 0;
    left: 230px;
    bottom: 90px;
    height: 100%;
    width: 100%;
    background-color: blue;
    overflow-y: scroll;
    display: block;
    position: fixed;

}