.nav-bar-div {
    grid-area: nav-bar;
    width: 230px;
    min-width: 230px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.nav-logo-div {
    width: 200px;
    // height: 50px;
    padding: 24px
}

.nav-link-divs {
    display: block;
    position: relative;
    border: 4px solid transparent;
    border-radius: 4px;
}

.nav-links {
    height: 40px;
    color: #B3B3B3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
}

.nav-links  i {
    font-size: 1.8em;
}

.nav-links p {
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.playlist-main-div {
    height: 100%;
    margin-top: 24px;
}

.playlist-div > h1 {
    color: #B3B3B3;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: .16em;
    padding: 0 24px 12px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.create-playlist-div {
    height: 42px;
    display: flex;
    align-items: center;
}

.create-playlist-button {
    color: #B3B3B3;
    padding: 5px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.create-playlist-button i {
    font-size: 2.5em;
    margin-right: 16px;
    padding: 4px;
}

.create-playlist-button span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    text-align: center;
    font-weight: bold;
}

.playlist-divider {
    margin: 8px 21px;
    border-color: #282828;
}

.current-album-div {
    margin-top: auto;
}

.current-album {
    height: 100%;
}

.playlist-index-container {
    overflow-y: auto;
    height: 90px;
}

.playlist-index {
    color: #B3B3B3;
    padding-left: 16px;
}

.list-item-name {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .015em;
    text-transform: none;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}