.form-div {
    display: flex;
    position: absolute;
    width: 100%;
}
.form-container {
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    height: 587px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700px;
}

.form-logo {
    display: flex;
}

.session-logo {
    margin: auto;
    margin-top: 20px;
    width: 214px;
    height: 58px;
}

.signup-logo {
    margin-bottom: 20px;
}

.form-message-div {
    display: flex;
    height: 60px;
}

.form-message {
    margin: auto;
    font-weight: bold;
}

.login-form-message{
    margin: auto;
    font-weight: bold;
    padding-top: 20px;
}

.input-field {
    display: block;
    background-origin: padding-box;
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-left: 5px;
}

.row-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.checkbox-container input {
    margin-right: 3px;
}

.button-div {
    display: inherit;
    width: 170px;
    height: 48px;
    // padding: 0px 15px;
    justify-content: flex-end;
}

.session-button {
    margin: auto;
    background-color: #FF9933;
    border-radius: 500px;
    height: 48px;
    font-size: 14px;
    padding: 16px 48px 18px;
    font-weight: bold;
    cursor: pointer;
}

.session-button:hover {
    background-color: #FFCC33;
}

.checkbox {
    cursor: pointer;
}

.forgot-div {
    display: flex;
    height: 48px;
}

.forgot-div p {
    padding-top: 20px;
    margin: auto;
    color: #FF9933;
    font-weight: 900px;
}

.forgot-div p:hover {
    color: #FFCC33;
}

.last-div {
    height: 300px;
}

.opp-link-div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.opp-link-div p {
    font-weight: bold;
    margin: auto;
    padding-bottom: 10px;
}

.opp-link {
    width: 450px;
    margin: auto;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.signup-link {
    border: 2px solid gray;
    border-radius: 500px;
    color: 	#404040;
    font-weight: bold;
    align-items: center;
    margin: auto;
    padding: 10px 128px;
}

.signup-link:hover {
    color: white;
    background-color: gray;
}


.dob-label {
    color: light gray
}

.dob-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dob {
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 48px;
    padding-left: 5px;
}

.dob-month {
    -webkit-appearance: none;
    font-family: inherit;
    width: 40%;
}

.dob-day {
    width: 18%;
}

.dob-year {
    width: 30%;
}

.gender-container {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

.gender-container label {
    padding-right: 20px;
}

.checkbox-container {
    margin: unset;
    padding-bottom: 30px;
}

.signup-button-div {
    display: flex;
    width: 80%;
    height: 48px;
    align-items: center;
    margin: auto;
    // padding-top: 30px;
}

.signup-button {
    border-radius: 500px;
    background-color: #FF9933;
    height: 48px;
    margin: auto;
    font-weight: bold;
    padding: 16px 140px 18px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #FFCC33;
}

.account-already-div {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 30px;
}

.login-link {
    color: #FF9933;
    padding-left: 5px;
    cursor: pointer;
}

.login-link:hover {
    color: #FFCC33;
}

.errors {
    color: #FF3855
}